.question-create-page {
  background-size: cover;
  background-position: top;
  /* ヘッダーとフッターの高さが合計100pxと仮定 */
  min-height: calc(100vh - 100px);
  /* 中央に寄せる */
  padding: 5rem;
}

.question-create-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}
